@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.title{
    font-family: 'Lemon', cursive;
    font-size: 2.125rem;
    color: #160CA1;
}


.btn{
    border: none;
    padding: 0.75rem 1.75rem;
    background-color: #FFDFE6;
    border-radius: 5px;
    color: #160CA1;
    font-size: 1.125rem;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

button:hover{
    transform: scale(1.1);
}

.main-container{
    background-color: #F5FCFF;
}

.wrapper{
    overflow: hidden;
    height: 49vh;
}

.space-img{
    transform: rotate(157deg);
    transition: visibility 300ms ease-in;
}

.space-img img{
    max-width: none;
}

.title-wrapper{
    padding: 5rem 2.5rem;
    text-align: center;
    transition: padding 300ms ease-in;
}

.title-wrapper p{
    font-size: 0.85rem;
    color: #160CA1;
    padding: 2.5rem 3rem;
    line-height: 1.25rem;
}

.title-wrapper.hidde p{
    display: none;
}

.title-wrapper.hidde button{
    display: none;
}

.title-wrapper.slide{
    padding-top: 2rem;
}