

@media screen and (min-width: 768px){

    .main-container{
        background-size: 1043px;
    }

    .title-wrapper p{
        font-size: 1.1rem;
        padding: 2.5rem 9rem;
        line-height: 1.8rem;
    }

}


@media screen and (min-width: 820px){

    .main-container{
        background-position: 96% 360px;
    }

    .title-wrapper .title{
        font-size: 2.5rem;
    }

    .title-wrapper p{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}

@media screen and (min-width: 1000px){

    .home-wrapper{
        display: grid;
        grid-template-columns: 520px 1fr;
        grid-template-rows: repeat(2, 1fr);
        background-position: -474px 90px;
        background-size: 1069px;
    }

    .headline{
        grid-column: 2/3;
        align-self: end;
    }

    .img-wrapper{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .title-wrapper{
        grid-column: 2/3;
    }

    .title-wrapper .title{
        font-size: 2rem;
    }

    .title-wrapper p{
        padding: 2rem;
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .back-home-btn{
        grid-column: 1/3;
        background-color: #F5FCFF
    }

}




